<h1>HELLO CAC BAN</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home Component</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About Componet</a></li>
    <li><a routerLink="/form" routerLinkActive="active">Templeform Componet</a></li>
    <li><a routerLink="/reactform" routerLinkActive="active">ReactiveForm Componet</a></li>
    <li><a routerLink="/getData" routerLinkActive="active">Get Data Componet</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>

