.text{
  border: 1px solid black;
  padding: 10px;
  box-shadow: 5px 10px red;
  width: 800px;
}
.table{
  border-collapse: collapse;

}
.table , td, th {
  border: 1px solid black;
}
td,th {
  min-width: 100px;
  text-align: center;
}
.so_am{
  color : red;
}
.right{
  text-align: right;
}
